[MyMRU]
  username = mymru_username
  password = mymru_password

[Notification]
  # gmail address to login with, except without the @gmail.com part.
  username = gmail_address_without_@gmail.com

  # gmail password
  password = gmail_password

  # gmail address to login with, with the @gmail.com part.
  from_email = gmail_address_with_@gmail

  # send a copy of notifications here as well as stopped notifications
  admin_email = email

[General]
  # Number of minutes to wait between checking the website. Must be >= 10
  check_interval = 20
  # Seconds to wait between browser operations; for demo purposes
  operation_delay = 0

# This can be any number, can't have more than one of a number.
[Class 1]
  # Who to email when a space opens up?
  client_email = your_phone@txt.your_providers_service.com

  name = ProgrammingII Object Oriented
  number = 1502

  # 201904 for Fall 2019, 202001 for Winter 2020, 202002 for Spring 2020, and so on.
  term = 201901

  subject = COMP

  # CRN Number
  section = 10643
